extends ../layouts/base_admin

block content
	div(class='jumbotron')
		form(method='POST', action='/administracion/productos/'+producto.id+'/borrar')
			fieldset
				input(type='hidden',name='id',value=producto.id)
				div(class='text-center')
					h1(class='display-3') Eliminacíon
					p(class='lead') ¿Estás seguro que deseas eliminar el producto #{producto.nombre} ?
					p(class='lead')
						button(name='borrar_producto',class='btn btn-danger boton-largo') Borrar
						a(href='/administracion/productos',class='btn btn-info boton-largo') Atrás