extends ../layouts/base_admin

block content
	div(class='jumbotron')
		form(method='POST', action='/administracion/usuarios/'+usuario.id+'/borrar')
			fieldset
				input(type='hidden',name='id',value=usuario.id)
				div(class='text-center')
					h1(class='display-3') Eliminacíon
					p(class='lead') ¿Estás seguro que deseas eliminar el usuario #{usuario.nombre} ?
					p(class='lead')
						button(name='borrar_usuario',class='btn btn-danger boton-largo') Borrar
						a(href='/administracion/usuarios',class='btn btn-info boton-largo') Atrás